.el-form.transparent {
  .el-input__wrapper {
    background-color: rgba($bg-100,0.1) !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-bottom: transparent 1px solid;
    border-radius: 0;
    overflow: hidden;
    .el-input__inner::placeholder {
      color: $accent-100 !important;
    }
    &::after {
      position: absolute;
      width: 100%;
      height: 0;
      border: 1px solid $accent-100;
      content: '';
      bottom: 0;
      left: -100%;
      right: 0;
    }
    &::before {
      position: absolute;
      width: 100%;
      height: 0;
      border: 1px solid $accent-100;
      content: '';
      bottom: 0;
      left: 100%;
      right: 0;
      transition: left 0.5s ease;
    }
    &:hover {
      &::after {
        left: 0%;
        transition: left 0.3s ease;
      }
    }
    &:hover {
      &::before {
        left: 0%;
        border: 0px solid $accent-100;
      }
    }
  }
  .el-form-item__error {
    color: $text-200 !important;
  }
  .el-form-item__content {
    justify-content: center;
  }
  .el-button{
    background-color: $bg-300 !important;
    border: none !important;
    color: $bg-100 !important;
    &:hover {
    }
  }
}